.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// BLINK
.btn--blink {
  background-color: green;
  animation: blink 1s ease-out;
}

// Wiggle
.btn--wiggle {
  background-color: red;
  animation: 0.5s wiggle ease-in-out;
}
