<p-progressSpinner class="abs-center" *ngIf="!quiz?.questions"></p-progressSpinner>
<div class="carousel__container" *ngIf="quiz?.questions">
  <p-carousel [value]="quiz.questions" [showNavigators]="false" [numVisible]="1" [showIndicators]="false"
    [page]="quiz.progress">
    <ng-template let-question pTemplate="item">
      <div class="question__item">
        <div class="question__item-content">
          <div class="question__item-txt">
            <p><b>Q: {{question.question | de64}}</b></p>
          </div>
          <div>
            <span><i class="pi pi-clock green"></i> {{timer$|async}}</span>
          </div>
          <div class="question__answers" [ngClass]="{'avoid-clicks': lockAnswers}">
            <app-answers [question]="question" (questionResult)="questionResult($event)"></app-answers>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
