.carousel {
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
  }
}

.question {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-content {
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 30px 1fr;
    align-items: center;

  }

  &__item-txt {
    .decorator {
      font-size: 2rem;
      color: palevioletred;
    }

    p {
      white-space: pre-line;
      text-align: center;
      font-size: 1.3rem;
    }
  }


}

.avoid-clicks {
  pointer-events: none;
  cursor: none;
}
